@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=JetBrains+Mono:wght@400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, -apple-system, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, monospace;
}

:root {
  --primary: #10b981;
  --primary-hover: #059669;
  --bg: #fbfcf9;
  --text-main: #141b12;
  --text-muted: #556250;
  --border: #e4e9e1;
  --white: #ffffff;
}

body {
  font-family: var(--font-sans);
  background-color: var(--bg);
  color: var(--text-main);
}
